<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ecommerce</title>

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <link rel="stylesheet" href="styles.css">
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!--bootstrap scripts-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </head>
    <body>
        <section class="heading">
        <div>
       <h3 class="a">abc</h3>
       <form class="a1">
           <input type="text" class="a12" placeholder="Search">
           <button type="button" class="btn btn-warning">Search</button>
       </form>
       <button class="hsig">Sign In</button>
    </div>
    </section>


<section class="c3">
    <h3>Laptops</h3>
    <div class="c1">
        <img src="Itemlaptop1.jpg" alt="" class="c2">
        <pre>Acer Pedator Helios 300 Gaming
             Core i7 , 11th Gen 15.6 inches
            (16GB RAM,512 GB SSD )</pre>
        <p><strong>Rs.1,19,990</strong></p>
        <button type="button" class="btn btn-light c4">Buy Now</button>  
        <button type="button" class="btn btn-light c4">Cart</button>  
    </div>
    <div class="c1">
        <img src="Itemlaptop2.jpg" alt="" class="c2">
        <pre>MacBook Pro 13 inch
             Apple M1 chip 8-core CPU and GPU 
             (8GB RAM, 512 GB SSD)</pre>
        <p><strong>Rs.1,26,990</strong></p>
        <button type="button" class="btn btn-light c4">Buy Now</button>  
        <button type="button" class="btn btn-light c4">Cart</button>
    </div>
    <div class="c1">
        <img src="Itemlaptop3.jpg" alt="" class="c2">
        <pre>ASUS ROG Strix G15
              Core i5 10th Gen 4GB Graphics 
            (8GB RAM,1TB HDD )</pre>
        <p><strong>Rs.80,990</strong></p>
        <button type="button" class="btn btn-light c4">Buy Now</button>  
        <button type="button" class="btn btn-light c4">Cart</button>
    </div>

    <div class="c1">
        <img src="Itemlaptop4.jpg" alt="" class="c2">
        <pre>HP Pavilion Gaming FHD Gaming Laptop
            Core i5 10th Gen 
            (8GB RAM,256GB SSD,1TB HDD)
        </pre>
        <p><strong>Rs.66,990</strong></p>
        <button type="button" class="btn btn-light c4">Buy Now</button>  
        <button type="button" class="btn btn-light c4">Cart</button>
    </div>
    <div class="c1">
        <img src="Itemlaptop5.jpg" alt="" class="c2">
        <pre>DELL Inspiron 15
            Core i3, 10th Gen 15.6 inches 
            (8GB RAM, 1TB HDD)</pre>
        <p><strong>Rs.41,650</strong></p>
        <button type="button" class="btn btn-light c4">Buy Now</button>  
        <button type="button" class="btn btn-light c4">Cart</button>
    </div>
    <div class="c1">
        <img src="Itemlaptop6.jpg" alt="" class="c2">
        <pre>HP Pavilion 14 ,Ryzen 5
            14 inch FHD Micro-Edge
            (8GB RAM,512GB SSD)
        </pre>
        <p><strong>Rs.54,990</strong></p>
        <button type="button" class="btn btn-light c4">Buy Now</button>  
        <button type="button" class="btn btn-light c4">Cart</button>
    </div>
</section>















    <section class="footer">
        <p>Copyright</p>
    </section>
    </body>
</html>