<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ecommerce</title>

        <!--Bootstrap-->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


        <link rel="stylesheet" href="styles.css">
        <!-- Font Awesome -->
        <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

        <!--bootstrap scripts-->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    /* header part */
.a{
    display:inline-block;
    margin-left:5%;
    color:white;
}
.a1{
    display:inline-block;
    margin-left:25%;
}
.a12{
    padding:2% 0;
    width:30vw;
    height:vh;
    border-radius: .5rem;
    padding-left:.5rem;
}
.a2{
    margin-left:20%;
    padding:auto;
    height:2rem
}
.anchead{
    color:white;
    margin-right:.5rem;
}
.anchead:hover{
  text-decoration: none;
}
.hsig{
    height:2.5rem;
    border-radius:.5rem;
    margin-left:20%;
    padding:auto .5rem;
}
.carousel-image{
    height:40vh;
    width:80%;
}
.carousel-item{
    text-align: center;
    background-color: black;
}
.heading{
    background:linear-gradient( to right,#f510c8,#532566);
    padding:1.25rem;
    height:15vh;
}
body{
    margin:0;
}


/* cards part */
.card-div{
    text-align: center;
    height:40vh;
    width:15vw;
    margin-left:.85rem;
    margin-top:.5rem;
    margin-bottom:.5rem;
    display:inline-block;
    background-color:white;
}
.card-image{
    width:10rem;
    height:10rem;
}

/* full cards part */
.full-div{
    background:linear-gradient( to right,rgba(255, 255, 255, 0.788),grey);
    padding-left:2rem;
    padding-top:1rem;
    padding-bottom:1rem;
}
.lapimg{
    display:inline-block;
    padding-left:2rem;
}

/* footer */
.footer{
    width:100%;
    height:10rem;
    background:linear-gradient( to right,#f510c8,#532566);
    color:white;
}

/* mobiles.html  */
.c1{
    text-align:center;
    display:inline-block;
    height:35rem;            /*edited from 25 */
    width:20rem;
    margin:0.5rem;
    /* border:solid 2px; */
    border-radius: 20px;
    padding:1%;
    box-shadow: 1px 1px 1px 1px;
}
.c2{
    
    height:15rem;
    width:15rem;
}
.c3{
    margin-left:10rem;
}
.c4{
    background-color: orange;
} 
</style>
    </head>
    <body>
        <section class="heading">
        <div>
       <h3 class="a">Hyperlocal</h3>
       <form class="a1">
           <input type="text" class="a12" placeholder="Search">
           <button type="button" class="btn btn-warning">Search</button>
       </form>
       <a href="/logout" class="hsig">LogOut</a>
    </div>
    <a href="/dashboard" class="anchead">Home</a>
    <a href="/orders" class="anchead">Orders</a>
    <a href="/cart" class="anchead">Cart</a>
    </section>

    <section class="c3">
        <h3>Mobiles</h3>
        <% for(var i=0;i<mobiles.length;i++){ %>
                <div class="c1">
                    <img src="images/item<%=mobiles[i].itemid%>.jpg" alt="" class="c2">
                    <pre><%=mobiles[i].description%></pre>
                    <p><strong>Rs.<%=mobiles[i].itemprice%></strong></p>
                    <div style="display:flex;flex-direction: row;align-items: center;justify-content: center;">
                    <form action="/orders" method="POST">
                        <button type="button" onclick="inc()">+</button>
                        <p id="qty">0</p>
                        <button type="button" onclick="dec()">-</button>
                        <button type="submit"  class="btn btn-light c4">Buy Now</button> 
                    </form> 
             
                    <form action="/cart" method="POST">
                        <button type="submit" class="btn btn-light c4">Cart</button> 
                    </form> 
                </div>
                    
                </div>
        <%}%>
    </section>

    <section class="footer">
        <p>Copyright</p>
    </section>
    <button type="button" onclick="inc()">+</button>
    <p id="qty">0</p>
    <button type="button" onclick="dec()">-</button>
<script>
    function inc(){
        var a=document.getElementById('qty').innerHTML;
        document.getElementById('qty').innerHTML=parseInt(a)+1;            
    }
    function dec(){
        var a=document.getElementById('qty').innerHTML;
        if(a!=0){
        document.getElementById('qty').innerHTML=parseInt(a)-1;
        }
    }
</script>
    </body>
</html>