<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ecommerce Website</title>
        <style>
            .a{
                margin-top:5%;

            }
            .b{
                text-align:center;
                width:20%;
                margin:.375% 0;
                height:30%;
                padding:.75% 0;
            }
            body{
                background-color:rgb(231, 133, 21);
            }
        </style>
    </head>
    <body style="text-align:center;">
        <h1>Login</h1>
        <form class="a" action="">
            <div border="1">
            <input type="email" placeholder="Email ID" name="email" class="b">
            <br>
            <input type="password" placeholder="Password" name="password" class="b">
            <br>
            <input type="submit" value="Sign in" class="b"/>
        </div>
        </form>
        <p>Don't have an account
        <a href="/register">Create New Account</a>
        </p>
    </body>
</html>