<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce Website</title>
</head>
<body>
    <h1>Register</h1>
    <form action="">
        <div>
            <label for='email'>Email</label>
            <input type="email" name="email"/>
        </div>
        <br/>
        <div>
            <label for='password'>Password</label>
            <input type="password" name="password"/>
        </div>
        <br/>
        <div>
            <label for='confirmpassword'>Confirm Password</label>
            <input type="password" name="confirmpassword"/>
        </div>
        <br/>
        <div>
            <label for='phone'>Phone</label>
            <input type="text" name="phone"/>
        </div>
        <br/>
        <div>
            <label for='hno'>House Number</label>
            <input type="text" name="hno"/>
        </div>
        <br/>
        <div>
            <label for='street'>Street</label>
            <input type="text" name="street"/>
        </div>
        <br/>
        <div>
            <label for='city'>City</label>
            <input type="text" name="city"/>
        </div>
        <br/>
        <div>
            <label for='district'>District</label>
            <input type="text" name="district"/>
        </div>
        <br/>
        <br/>
        <div>
            Already Have an account?? 
            <a href="/">Sign IN</a>
        </div>
        <br/>
        <div>
            <input type="submit" value="Login"/>
        </div>
    </form>
</body>
</html>