<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Ecommerce Website</title>
        <style>
            .a{
                margin-top:2%;

            }
            .b{
                font-size: 16px;
                width:100%;
                padding:3%;
                margin-top:10%;
                border: 2px, grey;
                border-radius: 5px;
            }
            .c{
                cursor: pointer;
                font-size: 18px;
                font-weight: 600;
                color: thistle;
                width:100%;
                height:100%;
                padding:4%;
                margin-top:2;
                background: linear-gradient(to right,#f510c8, #532566);
                border-radius: 5px;
            }
            body{
                /* background-color:rgb(231, 133, 21); */
                font-family: Arial, Helvetica, sans-serif;
                height:100%;
                background: linear-gradient(to right,#f510c8, #532566);
                background-repeat: no-  repeat;
            }
            .loginform{
                margin-top: 10%;
                background-color: white;
                margin-right: 35%;
                margin-left: 35%;
                padding:1% 5%;
                border-radius: 30px;
                box-shadow: 5px;
            }
            .error{
              margin-top: 10%;
              font-weight: 600;
              color: blueviolet;
            }
        </style>
    </head>
    <body>
        <div class="loginform">
            <h1 style="text-align: center;color:#403f3f">Login Form</h1>
            <form class="a" action="/">
                <div border="1">
                <input type="email" placeholder="Email Address" name="email" class="b">
                <br>
                <input type="password" placeholder="Password" name="password" class="b">
                <br>
                <div class="error"></div>
                <br/>
                <input type="submit" value="Login" class="c"/>
            </div>
            </form>
            <p style="text-align: center;margin-top: 15%;font-weight: 600;color:#403f3f">Not a member?
            <a href="/register" style="text-decoration: none;">Signup now</a>
            </p>
        </div>
        <script>
            function preloadFunc() {

            }
            window.onpaint = preloadFunc();                       
            const form = document.querySelector('form');
            const error = document.querySelector('.error');
          
            form.addEventListener('submit', async (e) => {
              e.preventDefault();
              // reset errors
              error.textContent = '';
              // get values
              const email = form.email.value;
              const password = form.password.value;
              try {
                const res = await fetch('/', {
                  method: 'POST',
                  body: JSON.stringify({ email, password }),
                  headers: { 'Content-Type': 'application/json' }
                });
                const data = await res.json();
                console.log('heredata',data.errors);
                if (data.errors) {
                  error.textContent = data.errors;
                }
                if (data.user) {
                  location.assign('/dashboard');
                }
              }
              catch (err) {
                console.log('error',err);
              }
            });
          </script>
    </body>
</html>