<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="lstyles.css">
    </head>
    <body style="text-align:center;">
        <h1>abc</h1>
        <form class="a">
            <div border="1">
            <input type="text" placeholder="email ID or phone No" class="b">
            <br>
            <input type="password" placeholder="password" class="b">
            <br>
            <input type="password" placeholder="confirm password" class="b">
            <br>
            <button class="b">Sign up</button>
        </div>
        </form>
    </body>
</html>